// Generated XML sub-container.
[% USE Java %]

package $package;

import nebula.xml.XmlElement;
import java.io.DataOutputStream;
import java.io.IOException;
import java.util.Vector;
import java.util.Enumeration;

public class	$class
implements	XmlElement
{

[% INCLUDE DataDeclarations.template %]

[% INCLUDE DataAccess.template %]

public String tag() { return ""; }

[% INCLUDE XMLEncode.template %]

[% INCLUDE AddElement.template %]

} // End class ${class}.
